.article-meta {
  display: flex;
  justify-content: space-between;
  max-width: 1100px;
  position: relative;
}
.social-links-comment {
  font-size: 20px;
  letter-spacing: 0.3px;
  line-height: 25px;
  font-family: "Futura PT Book";
  text-transform: unset;
}
