.article-options-image {
  display: flex;
  align-items: center;
  justify-content: center;
  margin-top: 15px;
}
.options {
  font-size: 25px;
}
.article-options-image {
  align-items: center;
}
.options-content {
  text-align: center;
  // font-size: 15px;
  padding-top: 15px;
}
.options-comment {
  border: 1px solid #ec3a23;
  margin: 0 auto;
}
